doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}   
        link(rel="stylesheet", href="/css/errors.css")
        block styles
    body
        header.main-header 
            nav.main-header_nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path==='/' ? 'active' : 'No Product')) Shop
                    li.main-header__item
                        a.btn(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active' : 'No Class')) Add Product
        block content