extends layouts/main-layout.pug

block content
    .main
        if prods.length > 0
            .grid
                each production in prods
                    article.card.product-item
                        header
                            h1.product__title #{production.title}
                        div.card__image 
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXCpiYKfm11YUjU715AE4xto0XO6fzBiL8Q&usqp=CAU")
                        div.card__content
                            h2.product_price $19.99
                            p.product__description Lorem ipsum dolor sit amet consectetur.
                        .card__actions
                            button.btn Add to Cart
        else
            h1.product__title No Products